body{
    margin: 0;
    padding: 0;
    display: flex;
    
}

header {
    width: 100%;
    height: 100%;
    
}

header .top-header{
    
    background-color: #F7F7F7;
    padding-top: 6px;
    padding-bottom: 6px;
}

header .top-header p{
    text-align: center;
    font-size: 14px;
    color: #222222;
    font-family: 'Circular', sans-serif;
    line-height: 18px;
}


header .menu-content{
    display: flex;
    padding-left: 150px;
    padding-right: 170px;
    padding-top: 22px;
    padding-bottom: 22px;
    
}

header .menu-content #opcao{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    font-family: 'Circular', sans-serif;
    
    
}

header .menu-content #opcao a{
    padding: 11px 12px;
    color: #222222;
    text-decoration: none;
    font-weight: bolder;
    font-size: 14px;
    font-family: 'Circular', sans-serif;
    background-color:white;
    border-radius: 20px;
    line-height: 18px;
   
}

header .menu-content #opcao button{
    box-sizing: border-box;
    width: 120px;
    background-color: white;
    
    font-weight: bolder;
    font-size: 14px;
    font-family: 'Circular', sans-serif;
    border-radius: 30px;
    border-width: 1px 1px 2px 2px;
    border-style: solid;
    border-color: rgb(241, 233, 233);
    border-bottom-color: rgb(230, 230, 230);
}

header .menu-content #opcao a:hover{
    background-color: #F7F7F7;
}
